body{
    background: #ffffff;
    font-family: sans-serif;
}

.input_txt
{
    border: 1px;
    border-color: #ff7510;
    height: 50px;
}

.input_txt_submit{
    height: 40px;
    width: 100px;
    border: 0px;
    color: #ffffff;
    background: #ff7510;
}

.input_txt_btn{
    height: 40px;
    width: 100px;
    border: 0px;
    color: #ffffff;
    background: #ff7510;
    position: fixed;
    right: 100px;
}

@media print {
    .submit_dist,.submit_dist1 {
        display: none;
    }

    * {
        padding: 0; margin: 0;
    }

    @page
    {
        padding: 0; margin: 0;
    }
  }

table{
    max-width: 100%;
}

td,tr{
    text-align: center;
    width: 150px;
}

th{
    width: 150px;
}