body{
    background: #ffffff;
    font-family: sans-serif;
}

.input_txt
{
    border: 0.5;
    border-color: #ff7510;
    height: 50px;
}

.input_txt_submit{
    height: 40px;
    width: 100px;
    border: 0px;
    color: #ffffff;
    background: #ff7510;
}

.input_txt_btn{
    height: 40px;
    width: 100px;
    border: 0px;
    color: #ffffff;
    background: #ff7510;
    position: fixed;
    right: 100px;
}

@media print {
    .input_txt,.input_txt_btn,.input_txt_submit {
        display: none;
    }

    * {
        padding: 0; margin: 0;
    }

    @page
    {
        padding: 0;
        margin:0;
        margin-top: 10;
    }
  }

table{
    max-width: 100%;
}

td,tr,th{
    text-align: center;
    width: 150px;
}